<div class="jumbotron">
  <div class="text-center">
    <h3>Reset Password</h3>
  </div>
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <span>Email</span>
      <input class="form-control" type="text" formControlName="email" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Reset</button>
      <button class="btn btn-danger" [routerLink]="['']">Back</button>
    </div>
  </form>
</div>
