<div class="jumbotron">
  <div class="text-center">
    <h3>Login</h3>
  </div>
  <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)" class="alert alert-danger" role="alert">
    Email or Password is invalid
  </div>
  <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <span>E-mail:</span>
      <input class="form-control" type="email" formControlName="email" required>
    </div>
    <div class="form-group">
      <span>Password:</span>
      <input class="form-control" type="password" formControlName="password" required>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      <button class="btn btn-danger" [routerLink]="['']">Back</button>
      <button class="btn btn-warning" [routerLink]="['/reset-password']">Forgotten Password?</button>
    </div>
  </form>
</div>
