<div class="jumbotron">
  <div class="text-center">
    <h3>Change password</h3>
  </div>
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id">
    <div class="form-group">
      <span>Email:</span>
      <input class="form-control" type="text" formControlName="email" required>
    </div>
    <div class="form-group">
      <span>Current Password</span>
      <input class="form-control" type="password" formControlName="oldPassword" required>
    </div>
    <div class="form-group">
      <span>New Password</span>
      <input class="form-control" type="password" formControlName="password" required>
    </div>
    <div class="form-group">
      <span>Repeat new password</span>
      <input class="form-control" type="password" formControlName="repeatedPassword" required>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Change</button>
      <button class="btn btn-danger" [routerLink]="['']">Back</button>
    </div>
  </form>
</div>
