<nav class="nav">
  <a class="nav-link" [routerLink]="['']">
    <h4>Login-App</h4>
  </a>
  <div *ngIf="!isLoggedIn">
    <a class="nav-link" [routerLink]="['login']">
      Login
    </a>
    <a class="nav-link" [routerLink]="['register']">
      Register
    </a>
  </div>
  <div *ngIf="isLoggedIn">
    <a class="nav-link" [routerLink]="['edit']">
      Update Data
    </a>
    <a class="nav-link" [routerLink]="['change-password']">
      Change Password
    </a>
    <a class="nav-link" (click)="onLogout()">
      Logout
    </a>
    <a class="nav-link" (click)="onDelete()">
      Delete
    </a>
  </div>
</nav>
