<div class="jumbotron">
  <div class="text-center">
    <h3>Create new user</h3>
  </div>
  <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id">
    <div class="form-group">
      <span>First name:</span>
      <input class="form-control" type="text" formControlName="firstName" required>
    </div>
    <div class="form-group">
      <span>Last name:</span>
      <input class="form-control" type="text" formControlName="lastName" required>
    </div>
    <div class="form-group">
      <span>Email:</span>
      <input class="form-control" type="email" formControlName="email" required>
    </div>
    <div class="form-group">
      <span>Password:</span>
      <input class="form-control" type="password" formControlName="password" required>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Create</button>
      <button class="btn btn-danger" [routerLink]="['']">Back</button>
    </div>
  </form>
</div>
